html {
  font-family: "Open Sans", sans-serif;
  font-family: "Roboto", sans-serif;
  font-family: "Turret Road", cursive;
}

#app {
  width: 50%;
  margin: 0 auto;
}

.Button {
  display: block;
  font: inherit;
  padding: 0.5rem 2rem;
  border: 1px solid #ff2058;
  margin: 0.5rem 0;
  border-radius: 5px;
  cursor: pointer;
}

.Add {
  background: #fff;
  color: #ff2058;
}

.Delete {
  background: #ff2058;
  color: #fff;
}

.Button:hover,
.Button:active {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.26);
}

.Button:focus {
  outline: none;
}

.InputText {
  display: block;
  width: 100%;
  font: inherit;
  padding: 0.1rem 0.25rem;
  border: none;
  border-bottom: 2px solid #ccc;
  margin-bottom: 1rem;
}

.InputText:focus {
  outline: none;
  border-bottom-color: #ff2058;
}

.Card {
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

.TodoList {
  width: 30rem;
  max-width: 80%;
  margin: auto;
}

.TodoList h2 {
  border-bottom: 3px solid #ccc;
  padding-bottom: 1rem;
}

.TodoList ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.TodoList li {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem 0;
  padding: 0.5rem 1rem;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.26);
  display: flex;
  justify-content: space-between;
}

.value {
  margin: 0;
  padding: 0;
}

.FieldHidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
  word-wrap: normal;
}

.FieldLabel {
  user-select: none;
}

.FieldCheckbox + .FieldLabel::before {
  position: absolute;
  content: "";
  left: 13%;
  top: 8px;
  width: 20px;
  height: 20px;
  border: 2px solid #e5e5e5;
  background-color: #ffffff;
}

.FieldCheckbox:checked + .FieldLabel::before {
  position: absolute;
  content: "";
  left: 13%;
  top: 8px;
  width: 20px;
  height: 20px;
  border: 2px solid #e5e5e5;
  background: url("../assets/checked.svg") 50% 50% no-repeat;
  background-color: #ffffff;
}
